html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

canvas {
  touch-action: none;
}

.footer {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
}

.footer-link {
  color: #1d1d1d;
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 6px;
}